/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,700&display=swap');

#Navbar {
  height: 150px;


  background: url("./Banner.jpg");
}

#Navbar-title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  /* font-weight: 500; */
  font-size: 72px;
  line-height: 25px;
  text-decoration: none;

  color: #D7FCFD;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: #32A2AA;
}

span {
  font-weight: bold;
}

#search {
  width: 604px;

  background: #B5D6D8;
  border-radius: 25px;
}

.bttn {
  height: 81px;

  background: #B5D6D8;
  border-radius: 25px;

  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
 
  
  color: #32A2AA;
  border: 1px solid #0C1224;
}

#navBar-bttn {
  padding-top: 26px;
}

.bttn:hover {
  background: #32A2AA;
  color: white;
}

.welcome {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-size: 68px;
  line-height: 25px;

  color: #32A2AA;
}

.welcome-2{
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  margin-left: 15%;
  font-size: 48px;
  line-height: 25px;

  color: #32A2AA;
}

.icon {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  margin-right: 15%;
  background-color: #32A2AA;
  border-radius: 50%;
  text-decoration-line: none;
  outline: 2px solid #1B4756;

  color: white;
}

.small-icon {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
  background-color: #32A2AA;
  border-radius: 50%;
  text-decoration-line: none;
  outline: 2px solid #1B4756;

  color: white;
}

.board {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 25px;

  /* display: center; */
  /* align-items: center; */

  color: #32A2AA;
}

.title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  text-decoration-line: underline;

  color: #1B4756;
}

.discus-bttn {
  margin-left: 35%;
}

.bttn2 {
  background: #32A2AA;
  border-radius: 10px;
}

.bttn2:hover {
  background: #B5D6D8;
  color: #32A2AA;
}

.bttn2:focus {
  background: #caeaec;
  color: #32A2AA;
}

.form-title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 25px;
  margin-top: 25px;

  display: flex;
  align-items: center;

  color: #32A2AA;
}

.login-outside {
  width: 1000px;
  height: 475px;
  /* left: 50px; */
  top: 200px;
  margin-top: 25px;
  padding-top: 50px;

  background: #CDE1E1;
  border-radius: 20px;
}

.login-inside {
  width: 850px;
  height: 350px;
  /* left: 200px; */
  top: 450px;
  margin-top: 20px;
  padding: 35px 35px 50px 55px;

  background: rgba(166, 173, 173, 0.35);
  border-radius: 25px;
}

.signup-outside {
  width: 1200px;
  height: 850px;
  left: 130px;
  top: 200px;
  margin-top: 25px;
  padding-top: 50px;

  background: #CDE1E1;
  border-radius: 20px;
}

.signup-inside {
  width: 1035px;
  height: 725px;
  left: 197px;
  top: 450px;
  margin-top: 20px;
  padding: 30px 50px 75px 75px;

  background: rgba(166, 173, 173, 0.35);
  border-radius: 25px;
}

.login-form, .signup-form {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 25px;
  text-align: left;

  color: #1B4756;
}

.login-label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

.signup-label {
  display: inline-block;
  width: 350px;
  text-align: left;
}

div.col-sm-10.signup-input {
  padding-left: 25px;
  width: 550px;
}

.input {
  height: 60px;
  border-radius: 15px;
  width: 500px;
}

.right {
  align-items: right;
}

.submit {
  padding: 0px 0px 0px 270px;
}

.signup-link {
  padding-top: 20px;
}

.form-type-title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 25px;

  text-decoration-line: underline;

  color: #1B4756;
}

.info-alert {
  height: 100px;

  border: 1px solid #1B4756;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;

  color: #1B4756;
}

.edit-btn  {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 25px;
  

  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
}

div.edit-password.container {
  /* width: 990px;
  height: 275px;
  top: 450px;
  margin-top: 20px;
  padding: 25px 15px 25px 25px; */

  background: rgba(166, 173, 173, 0.35);
  border-radius: 15px;
}

.edit-outside {
  width: 1250px;
  height: 875px;
  top: 50px;
  margin-top: 25px;
  padding-top: 50px;

  background: #CDE1E1;
  border-radius: 20px;
}

.edit-inside {
  width: 1050px;
  height: 750px;
  top: 450px;
  margin-top: 20px;
  padding: 25px 15px 25px 25px;

  background: rgba(166, 173, 173, 0.35);
  border-radius: 15px;
}

.edit-label {
  font-family: 'Quantico', sans-serif;
  width: 380px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 25px;
  text-align: left;

  color: #1B4756;
}

.edit-bttn {
  padding-right: 350px;
  /* padding-left: 310px; */
}

.password-bttn {
  height: 81px;

  background: #B5D6D8;
  border-radius: 25px;

  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  
  color: #32A2AA;
  border: 1px solid #0C1224;
}

.password-bttn:hover, .password-bttn:focus {
  background: #32A2AA;
}

.hidden { 
  display:none;
  background: rgba(166, 173, 173, 0.35);
}




/* -----------------------------End of Meyer Reset--------------------------------- */

/* nav {
  width: 100%;
  display: flex;
  justify-content:space-between;
}

nav h1 {
  margin-left: 10%;
}

ul {
  display: flex;
  margin-right: 10%;
} */